@{
    Layout = "~/Views/Shared/_LayoutHeadChef.cshtml";
}
@{
    ViewData["Title"] = "Index";
}

<body style="background-color:#5A3B5D">
@if (ViewBag.status == "Ok")
{
    <div class="alert alert-success">
        @ViewBag.message
    </div>
}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}

</body>