@model IEnumerable<RestaurantEntity.HallTable>
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutHallManager.cshtml";



}
<body style="background-color:#5A3B5D">
    <div class="container">
               <center>

            <h2 class="text-light text-center">Index of Hall Manager</h2>
            <div style="color:white">




                <a asp-controller="HallManager" asp-action="ViewBill" class="btn btn-primary"> Accept Paid Bill</a>



                <hr />
            </div>
            <div class=" row">
                @foreach (var item in Model)
                {

                    <div class="col-3">

                        @if (item.HallTableStatus == true && item.HallTableSize == 4)
                        {
                            <br />
                            <div class="text-light">Table Num:@item.HallTableId</div>
                            <div class="text-light">Occupancy:@item.HallTableSize</div>
                            <img class="rounded" src="https://www.svgrepo.com/show/105314/table.svg" style="width:100px;height:100px;background-color:green" />
                        }
                        else if (item.HallTableStatus == true && item.HallTableSize == 6)
                        {
                                     <br />
                            <div class="text-light">Table Num:@item.HallTableId</div>
                            <div class="text-light">Occupancy:@item.HallTableSize</div>
                            <img class="rounded" src="https://www.svgrepo.com/show/26641/table.svg" style="width:100px;height:100px;background-color:green" />



                        }
                        else if (item.HallTableStatus == true && item.HallTableSize == 10)
                        {
                            <br />
                            <div class="text-light">Table Num:@item.HallTableId</div>
                            <div class="text-light">Occupancy:@item.HallTableSize</div>
                            <img class="rounded" src="https://www.svgrepo.com/show/206580/table-desk.svg" style="width:100px;height:100px;background-color:green" />
                        }



                        else if (item.HallTableStatus == false && item.HallTableSize == 4)
                        {
                            <br />
                            <div class="text-light">Table Num:@item.HallTableId</div>
                            <div class="text-light">Occupancy:@item.HallTableSize</div>
                            <img class="rounded" src="https://www.svgrepo.com/show/105314/table.svg" style="width:100px;height:100px;background-color:red" />



                        }



                        else if (item.HallTableStatus == false && item.HallTableSize == 6)
                        {
                            <br />
                            <div class="text-light">Table Num:@item.HallTableId</div>
                            <div class="text-light">Occupancy:@item.HallTableSize</div>
                            <img class="rounded" src="https://www.svgrepo.com/show/26641/table.svg" style="width:100px;height:100px;background-color:red" />



                        }
                        else if (item.HallTableStatus == false && item.HallTableSize == 10)
                        {
                            <br />
                            <div class="text-light">Table Num:@item.HallTableId</div>
                            <div class="text-light">Occupancy:@item.HallTableSize</div>
                            <img class="rounded" src="https://www.svgrepo.com/show/206580/table-desk.svg" style="width:100px;height:100px;background-color:red" />



                        }
                    </div>





                }



            </div>



            <div>
                <br />
            </div>

        </center>
    </div>
</body>