@model IEnumerable<RestaurantEntity.HallTable>
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutHallManager.cshtml";

}
<body style="background-color:#5A3B5D">
<div class="container">

        <center>
            <h2 class=" text-center" style="color:#40E0D0"> Hall Manager</h2>
<div style="color:white">
    <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Employee Section</a>
    &nbsp;
    <a asp-controller="HallManager" asp-action="ViewBill" class="btn btn-primary"> Accept Paid Bill</a>

</div>


        <div class=" row">

            @foreach (var hallTable in Model)
            {
              

                <div class="col-md-3">
                    <br/>
                    <div class="col-md-3">
                        <br/>
                        @if (hallTable.HallTableStatus == true)
                        {
                                <img src="https://cdn-icons-png.flaticon.com/512/3174/3174528.png" class="img-fluid" alt="Responsive image" style="width:200px;height:100px">
                               
                                <p style="background-color:green;width:100px">No:@hallTable.HallTableId</p>
                                <div class ="text-light text-center">Occupancy :@hallTable.HallTableSize</div>
                               
                        }
                        else
                        {
                                <img src="https://cdn-icons-png.flaticon.com/512/3174/3174528.png" class="img-fluid" alt="Responsive image" style="width:200px;height:100px">
                        <p  style="background-color:red;width:100px">No:@hallTable.HallTableSize</p>
                                <div class="text-light text-center">Occupancy :@hallTable.HallTableSize</div>
                        }
                        
                    </div>
                    <br />
                </div>
              


            }

        </div>

   
     </center>
     </div>
</body>





