@model RestaurantEntity.Food
@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";

}
<body style="background-color:#5A3B5D;color:white;padding-bottom:100px">
    <a asp-area="" asp-controller="Admin1" asp-action="GetAllFoods" type="button" class="btn  text-light"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/163122/backward-arrow.svg"></a>
    <div class="container">
       

<form method="post" enctype="multipart/form-data">
            <h2 class="text-center text-uppercase font-weight-bolder" style="color:#1e88e5; font-size:36px">EditFood</h2>
    <div class="form-group">
        @*  form group for automatic audjustment for various screen sizes*@
        <label>Food Id</label>
        <input type="text" asp-for="FoodId" class="form-control" placeholder="Enter Food Id" required />
    </div>
    <div class="form-group">
        @*  form group for automatic audjustment for various screen sizes*@
        <label>Food Name</label>
        <input type="text" asp-for="FoodName" class="form-control" placeholder="Enter Food Name" required />
    </div>
    <div class="form-group">
        <label>Food Type</label>
        <input type="text" asp-for="FoodType" class="form-control" placeholder="Enter Food Type" required />
    </div>
    <div class="form-group">
        <label>Food Cost</label>
        <input type="text" asp-for="FoodCost" class="form-control" placeholder="Enter Food Cost" required />
    </div>
    <div class="form-group">
        <label>Food Cuisine</label>
        <input type="text" asp-for="FoodCuisine" class="form-control" placeholder="Enter Food Cuisine" required />
    </div>

    @* <div class="form-group">
    <label>Food Poster</label>
    <input type="file" id="poster" name="poster" class="form-control" required />
    </div>*@

    <input type="submit" value="Save" class="btn btn-outline-success" /> @*submit display message for required option required works only with submit*@
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @*submit sends form to server thats why we use submit not button type  *@
    @*   by default get request is called so we have mention post in the initial stage of form which will call httppost in Foodcontroller *@
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>
</div>
</body>