
@model RestaurantEntity.Help
@{
    ViewData["Title"] = "AddHelp";
}


@*//this name should be the name of projects under dependencies after adding referrences in MvcUi*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script type="text/javascript">
    function fun1(a) {

       
        alert(" Please be patient the  message is being  send to  a Manager Press on ok to contuine the process"+a);

    }
   
</script>
<body style="background-color:#5A3B5D;color:white;padding-bottom:100px">
    <div class="container">

        <form method="post" enctype="multipart/form-data">
            <div style="background-color:red">
                <center>
                    <h3>Report  your Issue</h3>
                </center>
            </div>
            <div class="form-group">
                @*  form group for automatic audjustment for various screen sizes*@
                <label>Enter Name</label>
                <input type="text" asp-for="UserName" class="form-control" placeholder="Enter Name " required />
            </div>
            <div class="form-group">
                <label>Enter your Email </label>
                <input type="text" asp-for="UserEmail" class="form-control" placeholder="Enter  your email" required />
            </div>
            <div class="form-group">
                <label>Your issue</label>
                <input type="text" asp-for="issue" class="form-control" placeholder="Enter your issue" required />
                
            </div>

            @{
                var data = ViewBag.Message;
            }
            @if(true){
                int hallTableId1 = Convert.ToInt32(TempData["halltableuserid"]);
                TempData.Keep();
                <input type="submit" value="Notify Manager" onclick="fun1(@hallTableId1);" class="btn btn-success" />
               
            }

            @if (ViewBag.status == "Ok")
            {
                <div class="alert alert-success">
                    @ViewBag.message
                    @ViewBag.HallTableId
                    
                </div>
            }
            else if (ViewBag.status == "Error")
            {
                <div class="alert alert-danger">
                    @ViewBag.message
                </div>
            }
        </form>
    </div>
</body>



