@model RestaurantEntity.Help
@*//this name should be the name of projects under dependencies after adding referrences in MvcUi*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";

}
<script type="text/javascript">
    function fun1() {


        alert(" Please be patient the  message to has been send to  a Manage order");
    }
    function fun2() {
        alert("Please be patient the  message to has been send to  waiter");
    }
</script>
<body style="background-color:#5A3B5D;color:white;padding-bottom:100px">
    <div class="container">

        <form method="post" enctype="multipart/form-data">
            <div style="color:white">
                <center>
                    <h3>Report an issue</h3>
                </center>
            </div>
            <div class="form-group" style="color:white">
                @*  form group for automatic audjustment for various screen sizes*@
                <label>Enter Name</label>
                <input type="text" asp-for="UserName" class="form-control" placeholder="Enter Name " required />
            </div>
            <div class="form-group" style="color:white">
                <label>Enter your issue </label>
                <input type="text" asp-for="UserEmail" class="form-control" placeholder="Enter  your email" required />
            </div>
            <div class="form-group" style="color:white">
            <label>Your issue</label>
            <input type="text" asp-for="issue" class="form-control" placeholder="Enter your issue" required />
            </div>

            <input type="submit" value="For Manager Help" onclick="fun1();" class="btn btn-success" />
           @* <input type="submit" value="For Waiter help" onclick="fun2();" class="btn btn-success" />*@
            @*  <input type="submit" value="Save" class="btn btn-outline-success" />
            &nbsp;&nbsp;
            <input type="reset" value="Reset" class="btn btn-outline-secondary" />*@


            @if (ViewBag.status == "Ok")
            {
                <div class="alert alert-success">
                    @ViewBag.message
                </div>
            }
            else if (ViewBag.status == "Error")
            {
                <div class="alert alert-danger">
                    @ViewBag.message
                </div>
            }
        </form>
    </div>
</body>

