<body style="background-color:#5A3B5D">
    <center>
        <div class="container">
            <div>
                <br />
                <hr />
                <a asp-controller="Feedback" asp-action="AddFeedback1" class="btn btn-success">Give Your 2 Mins</a>
                &nbsp;&nbsp;
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Thank You... Vist Again</a>
                <hr />
                <br />
                <br />
            </div>
            @if (ViewBag.status == "Ok")
            {
                <div class="alert alert-success">
                    @ViewBag.message
                </div>
            }
            else if (ViewBag.status == "Error")
            {
                <div class="alert alert-danger">
                    @ViewBag.message
                </div>
            }
        </div>
    </center>    
</body>