<<<<<<< HEAD
﻿@model RestaurantEntity.Bill;
=======
﻿@model RestaurantEntity.Order;
>>>>>>> 2325327b6f06a37008972b3df8c79290e3c85419
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div>
    <a asp-controller="Order" asp-action="Index">Index</a>
    <hr />
</div>
<form method="post" enctype="multipart/form-data">
    <h2>Add User </h2>
    <div class="form-group">
        @*  form group for automatic audjustment for various screen sizes*@
        <label>User Name</label>
        <input type="text" asp-for="UserName" class="form-control" placeholder="Enter User Name" required />
    </div>
    <div class="form-group">
        <label>User Email</label>
        <input type="text" asp-for="UserEmail" class="form-control" placeholder="Enter User Email" required />
    </div>
  

<<<<<<< HEAD

    <input type="submit" value="Save" class="btn btn-outline-success" /> @*submit display message for required option required works only with submit*@
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @*submit sends form to server thats why we use submit not button type  *@
    @*   by default get request is called so we have mention post in the initial stage of form which will call httppost in Usercontroller *@
=======
<h1>Get Orders By Hall Table Id</h1>
<form method="post" enctype="multipart/form-data">


    <div class="form-group">
        <label>Specify Hall Table Numbetrl</label>
        <input type="text" asp-controller="Employee" asp-for="HallTableId" class="form-control" placeholder="Enter Table number" required />
    </div>
    <input type="submit" value="Generate Bill" class="btn btn-success" />
>>>>>>> 2325327b6f06a37008972b3df8c79290e3c85419
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>