@model RestaurantEntity.Bill;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<body style="background-color:#5A3B5D">

    <a asp-area="" asp-controller="Order" asp-action="GetOrders1" type="button" class="btn  text-dark"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/230939/back.svg"></a>

    <div class="container d-flex justify-content-center " style="width:500px; background-color:#5A3B5D">

        <div class="d-flex flex-row justify-content-between p-3 adiv text-white" style="background-color:#5A3B5D ">
         
        </div>
        <form method="post" enctype="multipart/form-data" style="color:#5A3B5D; padding:20px">
            <br />
            <br />
            <br />
            <br />
            <div class="mt-2 p-4 text-center font-weight-bold pb-3" style="color:black;background-color:#D1B001">

                <div class="form-group1">



                    <label class="text-uppercase font-weight-bold" style="font-family:'Roboto', sans-serif; ">Username </label>
                    <input type="text" asp-for="UserName" class="form-control"required placeholder="Enter the User Name" />
                </div>
                <br />
                <div class="form-group1">
                    @*  form group for automatic audjustment for various screen sizes*@
                    <label class="text-uppercase font-weight-bold pb-2" style="font-family:'Roboto', sans-serif;}  ">Useremail </label>
                    <input type="text" asp-for="UserEmail" class="form-control"required placeholder="Enter Email Address" />
                </div>
                <br />

                <div style="margin-bottom: 20px;">



                    <input type="submit" value="Pay" class="btn btn-outline-success " />




                    <input type="reset" value="Reset" class="btn btn-outline-secondary" />

                </div>
                <br />
                <img class="img-fluid" style="height:50px" src="https://www.svgrepo.com/show/217773/paypal.svg" />
                <img class="img-fluid" style="height:50px" src="https://www.svgrepo.com/show/266082/wepay.svg" />



                @if (ViewBag.status == "Ok")
                {
                    <div class="alert alert-success">
                        @ViewBag.message
                    </div>
                }
                else if (ViewBag.status == "Error")
                {
                    <div class="alert alert-danger">
                        @ViewBag.message
                    </div>
                }
            </div>
        </form>
    </div>




</body>