@model RestaurantEntity.Bill;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<body style="background-color:#5A3B5D">
<div class="container d-flex justify-content-center">
    <div class="card mt-5 pb-5">
        <div class="d-flex flex-row justify-content-between p-3 adiv text-white">
            <i class="fas fa-chevron-left"></i>
           
            <i class="fas fa-times"></i>
        </div>
        <form method="post" enctype="multipart/form-data">
        <div class="mt-2 p-4 text-center">
         
                <div class="form-group1" >
                   
                    <label>UserName </label>
                    <input type="text" asp-for="UserName"class="form-control" placeholder="Enter the userName" />
                </div>
                <div class="form-group1" >
                    @*  form group for automatic audjustment for various screen sizes*@
                    <label>UserEMAil </label>
                    <input type="text" asp-for="UserEmail"class="form-control" placeholder="Enter Email Address" />
                </div>
                <div>
            
                    <input type="submit" value="Save" class="btn btn-outline-success" /> 
                    
   <input type="button" value="Reset" class="btn btn-outline-secondary" />
                    </div>
                @if (ViewBag.status == "Ok")
                {
                    <div class="alert alert-success">
                        @ViewBag.message
                    </div>
                }
                else if (ViewBag.status == "Error")
                {
                    <div class="alert alert-danger">
                        @ViewBag.message
                    </div>
                }            
        </div>   
    </form>
    </div>
</div>
</body>