<body style="background-color:#5A3B5D">
    <a asp-area="" asp-controller="Home" asp-action="Index" type="button" class="btn  text-light"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/163122/backward-arrow.svg"></a>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:white">@ViewData["Title"]</h1>

<<<<<<< HEAD
<div class="container-fluid" style="color:black">
<p style="color:black" >At Modern Restaurant Management (MRM) magazine, we collect data and  email addresses for site and newsletter subscriptions. We do not sell this information or send emails for anything other than MRM information. We are dedicated to safeguarding and preserving your privacy when visiting our site or communicating electronically with us.
This Privacy Policy, together with our Terms of Service, explains what happens to any personal data  you provide to us, or that we collect from you when you are on this site.
</br>

    <p style="color:black">
        MRM utilizes Google Analytics and HotJar to collect data that enables us to see what content resonates with our readers.  We’re committed to protecting and respecting your privacy
        .</p>

    <p style="color:black">We have updated this policy with the new General Data Protection Regulation (GDPR) regulations from 25 May 2018</p>
    <br />

    <p style ="color:black">For the purpose of the Data Protection Act 1998 and General Data Protection Regulation (GDPR) our data controller is Barbara Castiglia.</p>
<br />

    <p style="color:black">
        This policy explains when and why we collect personal information about you, how we use it, the conditions under which we may disclose it to others, how we keep it safe and secure and your rights and choices in relation to your information.
 </p>

    <p style="color:black">Any questions regarding this policy and our privacy practices should be sent by email to Barbara Castiglia at bcastiglia@modernrestaurantmanagement.com or by writing to:</p>

    <p style="color:black">Modern Restaurant Management, 27 Horseneck Road, Fairfield, NJ 07004. You can also reach us by telephone at 973-396-0135.</p>
</div>

</body>

