@model IEnumerable<RestaurantEntity.Employee>
@{
    Layout = "~/Views/Shared/_LayoutHeadChef.cshtml";
}

<body style="background-color:#5A3B5D">
    <a asp-area="" asp-controller="HeadChef" asp-action="Index" type="button" class="btn  text-light"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/163122/backward-arrow.svg"></a>
    <div class="container">

        <h2 class="text-center text-uppercase font-weight-bolder" style="color:#1e88e5; font-size:36px">Index of HeadChef</h2>
@foreach(var item in Model)
{   
    string a =Convert.ToString(TempData["speciality"]);
    TempData.Keep();
    if (item.EmpSpeciality == a)
    {
        <table>
            <thead>
                <tr class="text-white">
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Speciality</th>
                <th>Assign</th>
        </tr>
         
        </thead>
        <tbody>
                <tr class ="text-white">
                <td>@item.EmpId</td>
                <td>@item.EmpName</td>
                <td>@item.EmpSpeciality</td>

                    <td>
                        <a asp-controller="Chef" asp-action="Index"
                           asp-route-EmpId="@item.EmpId"><img src="https://www.svgrepo.com/show/189280/tasks-tick.svg" style="width:50px;height:50px"><span>&nbsp;</span>Assign to Chef</a>
                    </td>

            </tr>
          
        
           
        </tbody>

    </table>}
}
</div>
</body>