@model RestaurantEntity.Food
@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";

}
<body style="background-color:#5A3B5D;color:white;padding-bottom:100px">
    <div class="container">
       
<form method="post" enctype="multipart/form-data">
         <center>   <h3>Edit Food</h3>   </center>
    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            @*  form group for automatic audjustment for various screen sizes*@
            <label>Food Id</label>
            <input type="text" asp-for="FoodId" class="form-control" placeholder="Enter Food Id" required />
        </div>
        <div class="form-group">
            @*  form group for automatic audjustment for various screen sizes*@
            <label>Food Name</label>
            <input type="text" asp-for="FoodName" class="form-control" placeholder="Enter Food Name" required />
        </div>
        <div class="form-group">
            <label>Food Type</label>
            <input type="text" asp-for="FoodType" class="form-control" placeholder="Enter Food Type" required />
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
            <label>Food Cost</label>
            <input type="text" asp-for="FoodCost" class="form-control" placeholder="Enter Food Cost" required />
        </div>
        <div class="form-group">
            <label>Food Cuisine</label>
            <input type="text" asp-for="FoodCuisine" class="form-control" placeholder="Enter Food Cuisine" required />
        </div>
        <div class="form-group">
            <label>Food Avilability</label>
            <select asp-for="FoodStatus" asp-items="@ViewBag.Food" class="form-control" placeholder="Check Availability" required></select>
        </div>
        </div>
    </div>
     <div class="form-group">
    <label>Food Poster</label>
    <input type="file" asp-for="FoodImage" id="poster" name="poster" class="form-control" required />
    </div>

    <input type="submit" value="Save" class="btn btn-outline-success" />
    &nbsp;&nbsp;
    <input type="reset" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @*submit sends form to server thats why we use submit not button type  *@
    @*   by default get request is called so we have mention post in the initial stage of form which will call httppost in Foodcontroller *@
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>
</div>
</body>