@{
    Layout = "~/Views/Shared/_LayoutHallManager.cshtml";
}
<body style="background-color:#5A3B5D">
    <a asp-area="" asp-controller="HallManager" asp-action="ViewBill" type="button" class="btn  text-light"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/163122/backward-arrow.svg"></a>

@if (ViewBag.status == "Ok")
{
    <div class="alert alert-success">
        @ViewBag.message
    </div>
}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}
</body>
