@using (Html.BeginForm())
{
    <div style="color:#003399">



        <a class="text-uppercase d-inline-block text-center" style="font-size:xx-large" align="center">Patient <span class="font-weight-bold" style="font-size:xx-large">Details</span></a>



        <span style="font-size:large;float:right">
            @Html.RadioButton("option", "Food") <text>Food Name</text>
            @Html.RadioButton("option", "Cusine") <text> Cusine </text>

            @Html.TextBox("search")
            <input type="submit" name="submit" value="Search" />
        </span>
    </div>
}