@model RestaurantEntity.Order
<head>
@*    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 1000);
        window.onunload = function () { null };
    </script>*@
</head>
<body style="background-color:#5A3B5D">
    <div class="container">

        <form method="post" enctype="multipart/form-data">
      
      
            <div class="form-group text-white">
                <label>Hall Table Id</label>
                <select asp-for="HallTableId" asp-items="@ViewBag.TableId" class="form-control" placeholder="Select Hall Table ID" required></select>

            </div>




            <input type="submit" value="Save" class="btn btn-success" />
            &nbsp;&nbsp;
            <input type="reset" value="Reset" class="btn btn-outline-secondary" />

         
     
        </form>

    </div>
</body>