<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <body style ="background-color:#5A3B5D" >

        <div style="width:auto;margin-right:-20px;margin-left:-30px;margin-top:-20px">
            <img src="https://wallpaperaccess.com/full/3124570.jpg" class="d-block w-100" alt=" ">
        </div>
        <div style="margin-bottom:70px">

            <div class="col-md-12 text-white">
                <center>
                    <h3>Contact</h3>
                    <div style="color:white">
                        <p style="color:white">
                            <span style="color:white"><b>Legal Name:</b></span>
                            <span style="color:white">Pearltri Foods Private Limited</span>
                        </p>
                        <p>
                            <span style="color:white"><b>Head Office Address:</b></span>
                            <span style="color:white">NO 13, VARADHANI COMPLEX, SARJAPUR OUTER RING ROAD,<br>BELLANDUR, Bengaluru (Bangalore) Urban,<br> Karnataka, 560103</span>
                        </p>
                        <p>
                            <span style="color:white"><b>Delivery Hotline:</b></span>
                            <span style="color:white">080-43006111/+91-8095666650</span>
                        </p>
                        <p>
                            <span style="color:white"><b>Chef Manager:</b></span>
                            <span style="color:white"><b>ANKESH</b>,<br>Phone - +91 9591289194<br><a href="mailto:hk@mysite.com">hk@mysite.com</a><br /></span>
                        </p>
                        <p>
                            <span style="color:white"><b>Manager- Marketing &amp; Communications:</b></span>
                            <span style="color:white"><b>CHANDAN</b>,<br>Phone - +91 9972131903<br> <a href="mailto:usa@mysite.com">usa@mysite.com</a><br /></span>
                        </p>
                        <p>
                            <span style="color:white"><b>Op Manager</b></span>
                            <span style="color:white"><b>LOKESH</b>,<br>Phone - +91 9611525251<br>  <a href="mailto:support@mysite.com">support@mysite.com</a><br /></span>
                        </p>
                    </div>
                </center>
            </div>
        </div>



</body>
