@{
    Layout = "~/Views/Shared/_LayoutLoginSection.cshtml";
}



<body style="background-color:#5A3B5D ">

   <div style="margin-right:-30px">
        <div style="margin-top: -15px;margin-bottom:-15px;margin-left:-15px;width:100%" class="wrapper; img-fluid ">
            <div >

    <div >
       
        <div class="wrapper ">

                 
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>

                        <li data-target="#carouselExampleCaptions" data-slide-to="1" style="align-content:end" ></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"style="align-content:end"></li>
                     </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/1.png" class="d-block w-100" alt=" " class="img-fluid"style="margin-top: 0 ">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Tasty Thursdays</h5>
                                <h6>20% OFF</h6>

                            </div>
                        </div>
                        <div class="carousel-item" style="width=600">
                            <img src="~/2.jpg" class="d-block w-100" alt="" class="img-fluid" style="width:600px">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Pizza Days</h5>
                                <h6>15% OFF</h6>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/3.png" class="d-block w-100" alt="" class="img-fluid" style="width:600px">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Desserts</h5>

                            </div>
                        </div>
                      

                    </div>
                </div>
            </div>
            </div>
            </div>
</div>
 </div>
</body>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body >

    <div class="img-responsive" style="margin-left:-20px;margin-right:-45px">

        <img src="~/1.png" class="img-fluid" style="" >
        </div>
        <div class="container" >
            <div class="row text-white">
                <div class="col-sm-4">
                    <h2>FIND US</h2>
                    <h5>Our Location</h5>
                    <div>
                        <img src="~/10.png" class="d-block w-100" alt=" " >
                    </div>
                    <h5>Open Tue-Sun</h5>
                    <h6 style="color:white">
                        14603 SW Millikan Way<br />
                        Beaverton, OR 97006 <br />
                        Tel: (503) 671 0432 <br />
                        Fax: (503) 643 8192 <br />
                        Lunch: 11:30AM to 2:30PM <br />
                        Dinner: 5-9:30PM
                    </h6>
                    <hr />
                    <h5 style="color:white">Open Tue-Sun</h5>
                    <h6 style="color:white">
                        
                        233 NE Chkalov Dr.<br />
                        Vancouver, WA 98684 <br />
                        Tel: (360) 260-1014 <br />
                        Fax: (360) 260-1019 <br />
                        Lunch: 11:30AM to 2:30PM <br />
                        Dinner: 5-9:30PM
                    </h6>


                    <hr class="d-sm-none">
                </div>
                <div class="col-sm-4 text-white">
                    <h2 style ="color:white">AWARDS </h2>
                    <h5 style="color:white">Best Restaurant Of The Year</h5>
                    <div>
                        <img src="~/11.jfif" class="d-block w-100" alt=" ">
                    </div>

                    <h6 style="color:white">This Restaurant favorite serving Northern and Southern Indian specialties is known for its “great variety with great prices”, including a “well‑stocked” lunch buffet and many vegetarian choices; the decor m...</h6>
                    <br>
                </div>
                <div class="col-sm-4 text-white">
                   <h2 style="color:white">ABOUT US</h2>
                    <h5 style="color:white">Specality</h5>
                    <div> <img src="~/12.jfif" class="d-block w-100" alt=" "></div>

                    <h6 style="color:white">Indian Cusine offers both North Indian and South Indian foods. We are specialized in vegetable saag paneer. We serve fresh and good foods to our customers. We also do catering services and we provide takeout services. Abhiruchi Indian Cuisine serves 7 days a week .</h6>
                </div>
            </div>
        </div>

  

</body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body >

    <div style="width:auto;margin-right:-20px;margin-left:-30px">
        <img src="https://wallpaperaccess.com/full/3124570.jpg" class="d-block w-100" alt=" ">
    </div>
    <div   style="margin-bottom:70px">
       
            <div class="col-md-12 text-white">
               <center> <h3 >Contact</h3>
                <div  style="color:white">
                    <p style="color:white">
                        <span style="color:white"><b>Legal Name:</b></span>
                        <span style="color:white">Pearltri Foods Private Limited</span>
                    </p>
                    <p >
                        <span  style="color:white"><b>Head Office Address:</b></span>
                        <span style="color:white">NO 13, VARADHANI COMPLEX, SARJAPUR OUTER RING ROAD,<br>BELLANDUR, Bengaluru (Bangalore) Urban,<br> Karnataka, 560103</span>
                    </p>
                    <p >
                        <span style="color:white"><b>Delivery Hotline:</b></span>
                        <span style="color:white">080-43006111/+91-8095666650</span>
                    </p>
                    <p >
                        <span style="color:white"><b>Chef Manager:</b></span>
                        <span style="color:white"><b>ANKESH</b>,<br>Phone - +91 9591289194<br><a href="mailto:hk@mysite.com">hk@mysite.com</a><br /></span>
                    </p>
                    <p >
                        <span style="color:white"><b>Manager- Marketing &amp; Communications:</b></span>
                        <span style="color:white"><b>CHANDAN</b>,<br>Phone - +91 9972131903<br> <a href="mailto:usa@mysite.com">usa@mysite.com</a><br /></span>
                    </p>
                    <p >
                        <span style="color:white"><b>Op Manager</b></span>
                        <span style="color:white"><b>LOKESH</b>,<br>Phone - +91 9611525251<br>  <a href="mailto:support@mysite.com">support@mysite.com</a><br /></span>
                    </p>
                </div>
                </center>
            </div>
    </div>

</body>


